{% trans_default_domain domain %}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('louvain-la-haut/css/index.css') }}">

    <title>Livre: Louvain-là-haut</title>
</head>
<body>


<div class="banner-bg">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="{{ asset('louvain-la-haut/img/LLH_ombre.png') }}" class="img-fluid" alt="Louvain-la-haut">
                <h1 class="display-1 sr-only">Louvain-là haut</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="text-uppercase">Un livre de photographie</h2>
                    <hr>
                    <p>Louvain-la-Neuve vue
                        du ciel, photographies aériennes de Simon Schmitt, textes de Dominique Costermans et Philippe
                        Piette, mise en page
                        Michel De Backer.
                    </p>
                    <p>Sortie septembre 2020.
                        Tarif de précommande jusqu’au 30 juin : 40€ (livraison primeur offerte sur la belgique dès
                        parution)</p>
                </div>
                <div class="col-md-7 text-right">
                    <img src="{{ asset('louvain-la-haut/img/Louvain-la-haut.png') }}" class="img-fluid"
                         alt="Aperçu de la couverture du livre">
                    <p class="" style="margin-top: -20px;">
                        <strong>description</strong><br>
                        - couverture cartonnée<br> - format 28 x 28 cm<br> - 160 pages<br> - plus de 200 photos<br>
                    </p>
                    <a href="{{ 'webshop.url'|trans }}" type="button"
                       class="btn btn-primary btn-lg btn-block text-uppercase">Je désire commander <i
                                class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-4 text-center">
    <img src="{{ asset('louvain-la-haut/img/LLH-histoire-haut.jpg') }}" class="img-fluid"
         alt="Louvain-La-Neuve au fil du temps">
</div>
<div class="text-center">
    <img src="{{ asset('louvain-la-haut/img/LLH-histoire-bas.jpg') }}" class="img-fluid"
         alt="Louvain-La-Neuve au fil du temps">
</div>

<footer class="container mt-5">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Global View srl</h5>
            <p>5 clos des Blancs Moussis, 1348 Louvain-la-Neuve.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

            <ul class="list-unstyled">
{#                <li>#}
{#                    <a href="http://www.globalview.be"><i class="fab fa-html5"></i> http://www.globalview.be</a>#}
{#                </li>#}
                <li>
                    <a href="mailto:info@globalview.be"><i class="far fa-envelope"></i> info@globalview.be</a>
                </li>
                <li>
                    <a href="tel:+3210229938"><i class="fas fa-phone"></i> +32/10 22 99 38</a>
                </li>
                <li>
                    <a href="{{ path('download', { id: 'AXM1E72rr0G00e--tlD_' }) }}" class=""><i class="fas fa-info"></i> Conditions générales de
                        vente</a>
                </li>
                <li>
                    <i class="fas fa-industry"></i> BE 0477 863 669
                </li>
            </ul>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        © {{ 'now'|date('Y') }} <a href="http://www.globalview.be">Global View</a>
    </div>
</footer>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('louvain-la-haut/js/index.js') }}"></script>
</body>
</html>


{#{% extends 'base.html.twig' %}#}
{#{% block body %}#}
{#<div class="default">#}
{#	<!-- book -->#}
{#	<section id="book" class="section wow fadeInUp active" style="visibility: visible; animation-name: fadeInUp;">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-md-12">#}
{#					<div class="simple-box2">#}
{#						<div class="content">#}
{#							<h1>{{ 'louvain-la-haut.title'|trans }}</h1>#}
{#							<div class="wysiwygContent">#}
{#								{{ attribute(textes.body, 'body_'~app.request.locale)|internal_links(app.request.locale)|raw }}#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</section>#}
{#</div>#}
{#{% endblock %}#}